<html>
	<head>
		<title>New Password</title>
		<style type="text/css">							
			.font {font-family: Arial, Helvetica, Sans-Serif;}
			.title{font-size: 160%;}		
			.dataCell { font-family: Arial, Helvetica, Sans-Serif; background-color: #E1E7F7 }
		</style>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<table border="0" width="100%" class="font">
			<tr>
				<td class="title">
					<a href="http://www.konakart.com">
						<img src="http://www.konakart.com/images/logo.png" border="0" alt=""/>
					</a>
				</td>
				<td class="title">
					 New Password
				</td>
			</tr>
			<table border="0" width="100%" class="dataCell">
			<tr>
				<td width="100%"  colspan="2">
					Dear Customer $emailAddr,
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td width="100%" colspan="2">
				    &nbsp;&nbsp;Your new password is $newPassword.
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
					Best regards,
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
					$storeOwner
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
					$storeName
				</td>
			</tr>
			</table>
		</table>
	</body>
</html>
