This is your weekly newsletter from KonaKart
<html>
	<head>
		<title>KonaKart Newsletter</title>
		<style type="text/css">							
			.font {font-family: Arial, Helvetica, Sans-Serif;}
			.title{font-size: 160%;}		
			.dataCell { font-family: Arial, Helvetica, Sans-Serif; background-color: #E1E7F7 }
			.title1{font-size: 120%;}		
			.option{font-size: 80%;}		
		</style>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<table border="0" width="100%" class="font">
			<tr>
				<td class="title">
					<a href="http://www.konakart.com">
						<img src="http://www.konakart.com/images/logo.png" border="0" alt=""/>
					</a>
				</td>
				<td class="title">
					 KonaKart Newsletter
				</td>
			</tr>
		</table>
		<table border="0" width="100%" class="dataCell">
			<tr>
				<td width="100%"  colspan="2" class="title1">
					Dear $cust.getFirstName() $cust.getLastName(),
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
				</td>
			</tr>
			<tr>
				<td width="100%"  colspan="2">
					$obj1
				</td>
			</tr>
			</tr>
		</table>
	</body> 
</html> 

